.use-detail-item {
    width: 20rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: rgb(221, 209, 233);
    font-family: 'Poppins', sans-serif;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.user-details {
    display: inline;
    float: left;
    margin-left: 6rem;
    /* justify-content: space-around; */
    /* background-color: rgb(30, 7, 52); */
    
}